
{%load static%}
<div class="row">
<div class="col-md-7">
<div id="form1">
<form id="myform" method="post" action="/mainapp/teacher/questioncreate/{{quizid}}/">
                {%csrf_token%}
            <div class="row">
            <div class="col-md-8">


                <h2>Add Questions</h2>
           <p><textarea name="question" placeholder="Type the question here" class="form-control" id="exampleFormControlTextarea1" rows="3" required="true"></textarea>
           </p>
<div class="row" id="optioncontainer">
<div class="col-sm-12">
 <label>Options</label>
    <button id='add_option'>+</button>


<fieldset id="options">

<div class="row" id="optionrow">
    <div class="col">

        <input type="text" name="option1" required><button id="remove" class="btn btn-danger btn-sm" disabled required>x</button>&nbsp&nbsp
        <label><input class="whichcorrect" type="radio" name="correctanswer" value="option1">Correct</label>
    </div>
</div>

</fieldset>
</div>

</div>
<div id="truefalsecontainer">
    <b>Answer:</b>

    <h4><input type="radio" name="correctanswer" value="true" required>True<br>
    <input  type="radio" name="correctanswer" value="false">False</h4>

</div>

</div>
<div class="col-md-3">
    <p>Choose Type</p>
    <input id="mcq" type="radio" name="type" value="mcq" checked="True">MCQ<br>
    <input id="truefalse" type="radio" name="type" value="truefalse">TrueFalse<br>
    <input id="subjective" type="radio" name="type" value="subjective">Subjective<br>
</div>

</div>
    <br><input class="btn btn-success btn" type="submit" value="Save">


</form>

</div>

          <button id="addmore">Add More</button> </div>
        <div id='detailbody' class="col-md-5"><h2>Question List</h2>

            <ul id="question_list_area" class="list-group">
                {% if questionlist%}
                {% for id,name in questionlist %}
                <li id='myquestionlist' class="list-group-item" style="overflow-wrap:break-word;"><b>{{name}}</b><br>
                    <button data-toggle="collapse" data-target="#demo{{id}}" id='questiondetail' name="/mainapp/details/{{id}}/" class="btn btn-info btn-sm"  style="float:right;">View Detail</button>
                    <button id='deletequestion' name="/mainapp/delete/{{quizid}}/{{id}}/" class="btn btn-danger btn-sm" style="float:right;">Delete</button>
                    <div id="demo{{id}}" class="collapse">
                        <form method="post" id="editform" action="/mainapp/teacher/questioncreate/{{quizid}}/">
                            {%csrf_token%}
                             <input type="text" name="questionid" value="{{id}}" hidden>

                            <div id="formcontent">


                            </div>

                            <input type="submit" value="save">
                        </form>
                    </div>
                </li>

                {% endfor %}
                {%else%}
                <li id='myquestionlist' class="list-group-item" style="overflow-wrap:break-word;" hidden><b>{{name}}</b><br>
                    <button data-toggle="collapse" data-target="#demo{{id}}" id='questiondetail' name="/mainapp/details/{{id}}/" class="btn btn-info btn-sm"  style="float:right;">View Detail</button>
                    <button id='deletequestion' name="/mainapp/delete/{{quizid}}/{{id}}/" class="btn btn-danger btn-sm" style="float:right;">Delete</button>
                    <div id="demo{{id}}" class="collapse">
                        <form id="editform" method="post" action="/mainapp/teacher/questioncreate/{{quizid}}/">
                            {%csrf_token%}
                            <input type="text" name="questionid" hidden>
                            <div id="formcontent">


                            </div>

                            <input type="submit" value="save">
                        </form>

                    </div>
                </li>
                {%endif%}

                 </ul>
        </div>
</div>



<script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>


<script>
$(document).on('submit', '#myform', function(){
newquestion=$('#myquestionlist:first').clone(true,true);
newquestion.attr('hidden',false);
$.ajax({
    type: $(this).attr('method'),
    url: this.action,
    data: $(this).serialize(),
    context: this,
    success: function(data, status) {
        $(this).hide();
        alert('Question saved successfully');
        $('#addmore').show();
        alert(data);
        newquestion.find('b').html(data['question']);
        newquestion.find('button#questiondetail').attr('data-target','#demo'+data['qid']);
        newquestion.find('button#questiondetail').attr('name','/mainapp/details/'+data['qid']+'/');
        newquestion.find('div').attr('id','demo'+data['qid']);
        newquestion.find('button#deletequestion').attr('name','/mainapp/delete/'+'{{quizid}}'+'/'+data['qid']+'/');
        newquestion.find('input[name="questionid"]').val(data['qid']);
        $('#question_list_area').append(newquestion);



    }
    });
    return false;
});
</script>
<script>
    <!--for deleting question-->
    $(document).on('click', '#deletequestion', function()
  {
    var r = confirm("Are you sure to delete this question");
    if (r == true) {
      $.ajax({
    type: "GET",
    url: $(this).attr('name'),
    context: this,
    success: function(data, status) {
        $(this).parent().hide();
    }
    });
}});
    <!--for viewing question-->
    $(document).on('click', '#questiondetail',function()
    {
      $.ajax({
    type: "GET",
    url: $(this).attr('name'),
    context: this,
    success: function(data, status) {

    x=$(this).attr('data-target');
    var details="";
    delete data['Quiz'];
    var form='<br><br>';

     for (i in data) {
     form+='<label>'+i+':</label><input class="form-control" type="text" name="'+i+'" value="'+data[i]+'"><br>';
    }
    <!--$(x).html(form);-->
    $(x).find('#formcontent').html(form);

    }
    });
});
$(document).on('submit', '#editform', function(){
$.ajax({
    type: $(this).attr('method'),
    url: this.action,
    data: $(this).serialize(),
    context: this,
    success: function(data, status) {
        alert('Question saved successfully');
        alert(data);
    }
    });
    return false;
});
</script>


