{%load static%}



<div id="form1">
<form id="myform" method="post" action="{% url 'quiz' %}">
                {%csrf_token%}
            <div class="row">
            <div class="col-md-6">


                   <p><button class="btn btn-primary btn-sm" type="button">
                       Add Questions to Quiz</button></p>
           <p><textarea name="question" placeholder="Type the question here" class="form-control" id="exampleFormControlTextarea1" rows="3" required="true"></textarea>
           </p>
<div class="row" id="optioncontainer">
<div class="col-sm-6">
 <label>Options</label>
    <button id='add_option'>+</button>


<fieldset id="options">

<div class="row" id="optionrow">
    <div class="col">

        <input type="text" name="option1"><button class="remove" disabled required>x</button>
        <input class="whichcorrect" type="radio" name="correctanswer">
    </div>
</div>

</fieldset>
</div>

</div>
<div id="truefalsecontainer">
    <p><b>Answers</b></p>
    <input  type="radio" name="correctanswer" value="true" required>True<br>
    <input  type="radio" name="correctanswer" value="false">False<br>

</div>

</div>
<div class="col-md-6">
    <p><button class="btn btn-warning btn-sm" type="button">Choose Type</button></p>
    <input id="mcq" type="radio" name="type" value="mcq" checked="True">MCQ<br>
    <input id="truefalse" type="radio" name="type" value="truefalse">TrueFalse<br>
    <input id="subjective" type="radio" name="type" value="subjective">Subjective<br>
</div>
</div>
<br>
    <input class="btn btn-success btn-lg" type="submit" value="Save">

</form>







       </div>
<button id="addmore">Add MORE</button>
<p id ="aftersubmit"></p>
</div>
</div>


<script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>

<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
    <!--$("#optioncontainer").hide()-->

    <!--$("#mcq").click(function (){-->
       <!--$("#optioncontainer").show()-->
       <!--$("#truefalsecontainer").hide()-->
       <!--$("#form")[0].reset();-->



    <!--});-->
        <!--$("#truefalse").click(function(){-->
        <!--$("#optioncontainer").hide()-->
       <!--$("#truefalsecontainer").show()-->
       <!--$("#myform")[0].reset();-->

    <!--});-->
            <!--$("#subjective").click(function(){-->
       <!--$("#optioncontainer").hide()-->
              <!--$("#truefalsecontainer").hide()-->
              <!--$("#form")[0].reset();-->




    <!--});-->

    <!--});-->
<!--</script>-->
<!--<script>-->

<!--var i = 1;-->
<!--var original = document.getElementById('#formbody');-->

<!--function duplicate() {-->
    <!--var clone = original.cloneNode(true); // "deep" clone-->
    <!--&lt;!&ndash;clone.input.name = "option" + ++i;&ndash;&gt;-->
    <!--// or clone.id = ""; if the divs don't need an ID-->
    <!--original.parentNode.append(clone);-->
    <!--return false;-->
    <!--}-->
<!--</script>-->

<script>
$(document).on('submit', '#myform', function(){
x=$(this).parent().attr('id');
lastchar = x.substr(x.length - 1)
$.ajax({
    type: $(this).attr('method'),
    url: this.action,
    data: $(this).serialize(),
    context: this,
    success: function(data, status) {
        $(this).hide();
        $(this).parent().before("<button class='btn btn-primary btn-sm' id='question'>Question"+lastchar+"</button>");
        $(this).after("<button class='btn btn-danger btn-sm' id='deleteid'>Delete</button>");
        <!--to store questionid--as data from httpresponse>
        $(this).append('<input id="myid" type="text" name="questionid" value="'+data+'" hidden>')

        alert('saved');
        alert('resp:'+data);
    }
    });
    return false;
});
</script>
<script>
  $(document).on('click', '#question', function()
  {
  <!--alert("hello");-->
  x=$(this).next('div').find('#myform');
  if (x.is(":visible") == true )
  x.hide();
  else
  x.show();
  });
</script>
