{% extends 'sidebarbase.html' %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="#"> Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#"> Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/mainapp/quiz/{{uid}}/"> Quiz</a></li>
  </ol>
</nav>
<br>
        <h5>
            Time Remaining
        </h5>
        <hr>
        <div id="clockdiv"></div>
        <hr>
<div id="{{id}} "class="row">
       <div class="col-md-8">
           <div class="card">
               <div class="card-body" style="background-color:#F7F7F9;">

           <div id="questioncontainer">
           </div>

        <br>            <form id="answerform" method="post">
                   {%csrf_token%}

                        <div id="answercontainer">
                        </div>
                      <br>
                   <button type="submit" class="btn btn-success" >Submit</button>
               </form>

           <button id="nextquestion" class="btn btn-success btn" style="float:right;">Skip</button>
               </div>
           </div>

    </div>
</div>


<script>
    var deadline = '{{deadline}}';
    console.log(deadline);
    var mydata = {{json_data}};
    $( document ).ready(function() {

    var myvar=0;
    keys = [];
    questions = [];
    <!--idlist and questionlist-->
    for(i in mydata){
    keys.push(mydata[i][0]);
    questions.push(mydata[i][1]);

    }
    console.log(keys);
    totalquestion=keys.length;



setTimeout(function() {
       $("#nextquestion").trigger('click');
   },10);

        console.log(myvar);

$('#nextquestion').on('click', function(){
        $('form').attr('action','/mainapp/answer/'+'{{quizid}}'+'/'+ keys[myvar] +'/');
    if(myvar>=totalquestion){
    alert('Finished');

    }else
    {

    $.ajax({
    type: "GET",
    url: "/mainapp/details/"+keys[myvar],
    context: this,
    success: function(data, status) {





    delete data['correctanswer'];
    delete data['question'];
     $('#answercontainer').html('<br>');
    if(data['type']=='subjective')
    {
    $('#answercontainer').html('<p><textarea name="answer" placeholder="Type the answer here" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea></p>');
    }
     else if(data['type']=='mcq')
    {
    var mcqdata=JSON.parse(JSON.stringify(data));
       delete mcqdata['type'];
       delete mcqdata['course'];
       delete mcqdata['topic'];
       delete mcqdata['updated_at'];
       delete mcqdata['created_at'];
       console.log(mcqdata);

    for(option in mcqdata){

        $('#answercontainer').append('<label><input type="radio" value="' + mcqdata[option] + '"name="answer" required>'+mcqdata[option]+'</label><br>');
    }

    }
    else
    {
    $('#answercontainer').html('<br><label><input type="radio"  value="true" name="answer" required>True</label><br>' +
    '<label><input type="radio"  value="false" name="answer">False</label>');


    }
    }
    });


         $('#answercontainer').html('<br>');
          $('#questioncontainer').html('<h3>' + questions[myvar] + '</h3>');
            myvar++;


}
    });

    });




$(document).on('submit', '#answerform', function(){

$.ajax({
    type: $(this).attr('method'),
    url: this.action,
    data: $(this).serialize(),
    context: this,
    success: function(data, status) {
    alert(data);
    $("#nextquestion").trigger('click');


    }
    });
    return false;
});

</script>




<script type="text/javascript" src="{% static 'js/takequiz.js' %}"></script>




{% endblock %}
