
{%load static%}
<html>
  <head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teacher</title>
  <meta name="description" content="Teacher Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="{% static 'sidenav/css/sidenavstyle.css' %}">
      <link rel="stylesheet" href="{% static 'sidenav/css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
      <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
      <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
      <!--<link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">-->
      <!--<link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">-->
      <!--&lt;!&ndash; <link rel="stylesheet" href="assets/css/bootstrap-select.less"> &ndash;&gt;-->
      <!--<link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">-->
  </head>


   <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light float">
     <a class="navbar-brand" href="#">University Name</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav>
<body>

   <div class="sidenav">
 <a href="{% url 'home' %}" ><i class="menu-icon fa fa-th"></i>Home</a>
 <a href="{% url 'students' %}">Student</a>
 <a href="{% url 'courses' %}" >Courses</a>
 <a href="{% url 'courses'%}" >Add Courses</a>
 <a href="{% url 'quiz' %}" >Quiz</a>

</div>
{% block content %} {% endblock %}
</body>

</html>